body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

:root {
  --color-primary: #63A1FE;
  --color-primary-dark: #5284CE;
  --color-white-primary: #F3F4F6;
  --color-secondary: #FA6d01;
  --color-dark: #333333;
  --color-dark-secondary: #606060;
  --color-gray-primary: #757575;
}

.card {
    position: relative;
    /* top: 20px; */
    margin-top: 25px;
    border: none;
    box-shadow: -1px 2px 24px -17px rgba(0,0,0,0.60);
    -webkit-box-shadow: -1px 2px 24px -17px rgba(0,0,0,0.60);
    -moz-box-shadow: -1px 2px 24px -17px rgba(0,0,0,0.60);
}

.form-control:focus, .form-select:focus, .form-control.is-invalid:focus, .form-select.is-invalid:focus {
    box-shadow: none;
    /* border-radius: 9999px !important; */
}

.content-header {
  margin-top: 80px;
}

.title-login {
  font-weight: 700;
  position: relative;
  line-height: 1;
}

.title-login span {
  color: var(--color-primary-dark);
}

.p-login {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: var(--color-gray-primary);
  line-height: 1.2;
}

.wrap-logo {
    position: relative;
}

.wrap-logo::before {
  content: '';
  position: absolute;
  background-color: var(--color-primary);
  width: 50px;
  height: 3.2px;
  border-radius: 10px;
  bottom: -10.7px;
}

.input-group-text {
  background-color: var(--color-white-primary) !important;
  border-right: none !important;
  border: none;
  color: var(--color-dark-secondary);
}

.form-control {
  background-color: var(--color-white-primary) !important;
  border: none;
  font-size: 13px;
  color: var(--color-dark-secondary);
}

.label-input {
  font-size: 13px;
  color: var(--color-gray-primary);
}

.btn.btn-primary {
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.forgotPW {
  font-size: 11px;
}

.alert-auth {
  font-size: 11.3px;
  letter-spacing: 0.4px;
  height: 10px;
}